<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SkillAmp Blog</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="../css/clean-blog.min.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="../index.html">SkillAmp</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://skillamp.io">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="post.html">Sample Post</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="contact.html">Contact</a>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</nav>

<!-- Page Header -->
<header class="masthead" style="background-image: url('../img/payphones.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>The Best Way to Start a Sales Call</h1>
                    <h2 class="subheading"> The first 10 seconds of a call are a crucial point where tone and feelings are set</h2>
                    <span class="meta">Posted by
                <a href="#">Ryan Gray</a>
                on March 11, 2018</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>One of the biggest missed opportunities on a sales call happens within the first 10 seconds. Does this sound familiar?</p>
                <ul style="list-style-type: none;">
                    <li><strong>Salesperson:</strong> Hello Mr. Johnson, how are you doing today?</li>
                    <li><strong>Mr. Johnson:</strong> Fine, and you?</li>
                    <li><strong>Salesperson:</strong> Great. Now let me go into my robotic pitch and hope you purchase our product or service.</li>
                </ul>

                <p>
                    How often have you done this? How often has this happened to you? Where is the human interaction or the opportunity to build rapport?
                    This salesperson has not made themselves unique or personal with Mr. Johnson. For all he knows, you are just a robot on the other
                    line who doesn’t care about Mr. Johnson or his needs.
                </p>

                <h2 class="section-heading">How to Start a Call Right</h2>

                <p>
                    I always tell my sales team to prepare for the “how are you doing” question before you start the call. How will you respond? What is
                    something unique that happened to you recently? My team knows that they should never respond with just “great.” Because that would be
                    a missed opportunity. Let me show you an example of how you should respond.
                </p>

                <ul>
                    <li>
                        <strong>Salesperson:</strong>
                        Hello Mr. Johnson, how are you doing today?</li>
                    <li>
                        <strong>Mr. Johnson:</strong>
                        Fine, and you?</li>
                    <li>
                        <strong>Salesperson:</strong>
                        Great. My 13-month-old son just started to walk. My wife and I are now in the process of baby-proofing everything!</li>
                </ul>

                <p>
                    Now how do you think Mr. Johnson will respond? Will he open up about his grandchildren? Or a particular story when his niece started
                    to walk? Or perhaps Mr. Johnson will state he does not have kids. No matter what it is, Mr. Johnson will feel he can open up about
                    his personal life because you opened up about yours. From there, the call will go much smoother and Mr. Johnson will feel he can
                    trust you more.
                </p>

                <h2 class="section-heading">Word of Warning</h2>

                <p>
                    This method only works if you are genuine. Customers can smell inauthenticity a mile away. Be very cautious with what you share. Do
                    not lie. Also, do not share something extremely personal or depressing. This would have the opposite effect and make the potential
                    customer more uncomfortable.
                </p>

                <a href="#">
                    <img class="img-fluid" src="../img/business_meeting.jpg" alt="">
                </a>

                <h2 class="section-heading">My Guarantee</h2>

                <p>
                    I promise you that if you use this technique and genuinely open up to potential customers, whether in person or on the phone, you
                    will have great success in sales or any other business you conduct. Be genuine and be personable and you will get the same in return.
                </p>

                <p>By the way, I wasn’t kidding about my 13-month-old son. He is getting into everything now that he can walk.</p>
            </div>
        </div>
    </div>
</article>

<hr>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; Your Website 2018</p>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Custom scripts for this template -->
<script src="../js/clean-blog.min.js"></script>

</body>

</html>
