<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SkillAmp Blog</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="../css/clean-blog.min.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="../index.html">SkillAmp</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://skillamp.io">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="post.html">Sample Post</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="contact.html">Contact</a>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</nav>

<!-- Page Header -->
<header class="masthead" style="background-image: url('../img/one-on-one.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>The #1 Thing to Learn to be Successful in Sales</h1>
                    <h2 class="subheading">
                        “If there is any one secret of success, it lies in the ability to get the other person’s
                        point of view and see things from that person’s angle as well as from your own.”
                    </h2>
                    <span class="meta">Posted by
                <a href="#">Ryan Gray</a>
                on March 19, 2018</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>
                        The most effective way to ensure continued growth for your sales agents is regular one on 
                        one meetings. It is important that these one on one meetings happen every week. If you miss 
                        a one on one with your sales agent or cancel, you are sending a signal to that manager that 
                        they are not important. Have you ever been stood up on a date? It feels like that. Your sales 
                        agent is left alone at a restaurant while everyone else around has dates.
                </p>

                <h2 class="section-heading">Disclaimer</h2>

                <p>
                        Before I go over the 4 steps to conducting a successful one on one, there are a couple of 
                        things to keep in mind:
                </p>

                <ol>
                    <li><strong>Who Conducts The Meeting?</strong> Despite what a lot of supervisors or agents 
                        believe, the sales agent is in charge of conducting the one on one, not the supervisor. 
                        The sales agent will set the agenda before the meeting and is responsible for what will be
                         discussed. The supervisor, in turn, is there to help and guide the sales agent to ensure 
                         goals are being met and objectives are being accomplished.
                    </li><br>

                    <li><strong>What Are The Goals?</strong> It is important that every sales agent has clear goals
                         that he or she needs to accomplish. These can be weekly, monthly and/or quarterly goals. 
                         This will depend on your company. Remember that goals are specific, measurable, and 
                         time-bound. Do your sales agents know what their goals are? Do you give them the necessary
                          autonomy to accomplish them? This is important when setting expectations for the one on one.
                    </li><br>

                    <li><strong>What Should Be Prepared Before The Meeting?</strong> Supervisors should audit calls 
                        from the sales agent and have specific advice on how he or she could improve. Like the goals,
                         this council should be specific and measurable. The supervisor should also write down 
                         specific wins the sales agent had that week. On the other hand, sales agents should ask 
                         themselves the following questions: Am I still on track to accomplishing my goals? What 
                         obstacles are preventing me from succeeding? How can my supervisor help me accomplish my 
                         goals?
                    </li><br>
                </ol>

                <h2 class="section-heading">Conducting One on Ones</h2>

                <p>
                        In any one on one meeting, there are 4 easy steps that must be followed every time. This 
                        ensures consistency across all your sales agents and continued growth for your team.
                </p>

                <a href="#">
                    <img class="img-fluid" src="../img/notebook-goals.jpg" alt="">
                </a>

                <ul style="list-style-type:none"><br>
                    <li><strong>Step 1 - Goals:</strong> The sales agent discusses his or her goals and how they 
                        are doing. As a supervisor, you should listen. Do not interject. Let the sales agent 
                        discuss his or her problems and the potential solutions. Resist the urge to say anything 
                        here. Be a good listener.
                    </li><br>

                    <li><strong>Step 2 - Questions:</strong> Treat your sales agent like a future supervisor or 
                        director. Ask him or her questions about the potential problems or obstacles stopping the 
                        agent from succeeding. Let them try and solve the problem themselves. Here are some examples 
                        of questions you can ask: Why do you think you have not accomplished your goals? What could
                        you do to better accomplish your goals? Now that you have achieved your goals, what should
                        the next goal be? What are the top 3 things distracting you from your goals at work? etc...
                    </li><br>

                    <li><strong>Step 3 - Offer Help:</strong> This step is important but will only work if you are 
                        genuine. Show your agents you care and want them to succeed. Ask specifically how you can 
                        help. Offer suggestions or recommendations on what your agent should do next. Again, be 
                        genuine and patient. Your agents will not be forthright if they know other agents are 
                        chastised for being honest or seek help. Reward agents who ask for help or admit faults. 
                        Do not punish them.
                    </li><br>

                    <li><strong>Step 4 - Self- Reflection:</strong> The last question is extremely important. Ask 
                        your agent what you could do better to help them in achieving their goals. Ask ways that 
                        you could improve and better serve their needs. This may take a few tries to get genuine 
                        responses but, once you build trust with the agent, they will be more open. Once you get 
                        answers here, then ask how the company could be better at achieving its goals and how the 
                        company can better help its agents achieve theirs. The suggestions you get could really 
                        improve the company. Listen.
                    </li><br>
                </ul>

                <h2 class="section-heading">The Email After The Meeting</h2>

                <p>
                    Once the one on one is over, be sure to write everything down. Have very specific action items 
                    for your sales agent and yourself. Take the agent’s suggestions seriously. Once you have it all 
                    written down, email it to your agent so he or she is aware of what you discussed. Give them an 
                    opportunity to edit your notes if you had something wrong. Once you both agree on the notes, 
                    be sure to bring them up next week with updates. You can also follow up throughout the week with 
                    your agents in person or through email. Getting your agents to trust you depends a lot on your 
                    ability to stay on top of these tasks.
                </p>

                <p>
                    And that is it. Rinse and repeat. In no time, you will have a goal-oriented call floor that 
                    is self-motivated to accomplish its goals.
                </p>

                <h2 class="section-heading">Improve Sales Training</h2>

                <p>
                        Interested in increasing retention rates and sales conversions for your call center? Then 
                        use SkillAmp! Our survey technology collects feedback from potential customers, scores the 
                        sales agent and provides specific details on what went wrong and what could be improved. 
                        With SkillAmp, you no longer have to guess what your prospects are thinking - you’ll know.
                </p>

                <p>
                        Fill out your information here at 
                        <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdmSGufuug1Tf3hfQJZKUoSKnA22_fIp-c2d-01o1QqK6iTYQ/viewform">this link</a> 
                        if you are interested to learn more and we 
                        will contact you when the beta is ready for testing.
                </p>

            </div>
        </div>
    </div>
</article>

<hr>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; Your Website 2018</p>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Custom scripts for this template -->
<script src="../js/clean-blog.min.js"></script>

</body>

</html>
