<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SkillAmp Blog</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="../css/clean-blog.min.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="../index.html">SkillAmp</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="http://skillamp.io">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="post.html">Sample Post</a>-->
                    <!--</li>-->
                    <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="contact.html">Contact</a>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('../img/mesa-mormon-temple.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>4 Surprising Leadership Lessons to Call Centers From The Mormon Church</h1>
                        <h2 class="subheading">
                            Delegation can be a powerful tool in your arsenal. Be sure to use it.
                        </h2>
                        <span class="meta">Posted by
                            <a href="#">Ryan Gray</a>
                            on April 4, 2018</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p>
                        Twice a year Latter-Day Saints or Mormons (like myself) watch a live broadcast called General Conference from Church leadership
                        that provides instruction and guidance on how to be better Christians. During the broadcast, this
                        weekend, our Prophet (leader of the church), President Russell M. Nelson, made a significant announcement
                        that removed various programs in our church and replaced them with newer programs.
                    </p>

                    <p>
                        This announcement came as a shock to myself and many other members. However, by the end of the conference, I was fully onboard
                        with the changes.
                    </p>

                    <strong>How did the church pull off this amazing feat?</strong>

                    <p>
                        Whenever a company has to make big announcements that change the day-to-day workings of your call center employees, it can
                        be tough to execute. There are concerns about logistics, adoption, morale, sales scripting etc...
                        How do you best implement these drastic changes in your call center? I believe call centers could
                        learn a few critical lessons from the Mormon Church about company-wide changes.
                    </p>

                    <h2 class="section-heading">Here are the 4 leadership lessons:</h2>
                    <br>

                    <strong>1. Be direct </strong>
                    <br>
                    <p>
                        President Nelson spoke for less than 10 minutes explaining what the change was and how it was going to work. He did not hesitate,
                        and he did not waver. Change is always hard, so many companies choose to delay announcements or ramble
                        on for a bit before getting to the point. Keep your statement simple. Stick to your narrative and
                        be direct. Your employees can handle it.
                    </p>

                    <img class="img-fluid" src="../img/first-presidency.jpg" alt=""><br><br>


                    <strong>2. Delegate responsibilities</strong>
                    <p>
                        After making the announcement, President Nelson explained that two other leaders from his team were going to speak in more
                        detail about the change. President Nelson stated that these two speakers were going to address a
                        lot of concerns we may have. Imagine if your company was announcing a new product at the next all-hands
                        meeting. Wouldn't it be better if you had the a call center manager address specific questions from
                        your sales team instead of the Executives? How much more impactful would a change be if other call
                        center employees explained it to your call center?
                    </p>
                    <p>
                        Delegation is an excellent way to empower your agents and promote early adoption. It is much easier to adopt something if
                        multiple people speak about it. Imagine an agent's reaction if, out of the gate, numerous supervisors
                        and managers express their support for a particular change in the call center. Delegation can be
                        a powerful tool in your arsenal. Be sure to use it.
                    </p>

                    <strong>3. Address concerns immediately</strong>

                    <p>
                        The two speakers at the Conference directly addressed common worries members and I had. You could tell they did research
                        beforehand to ensure primary concerns and questions were answered. The church leadership did not
                        run from these problems. They addressed them head-on. When making big announcements, ensure your
                        delegated speakers address any concerns your sales agents may have with the new changes right away.
                        Although it did not logistically work for my church because it was broadcasted to millions of people
                        at once, if you are able, allow for questions after you make new announcements. Let people ask questions
                        either during the meeting or anonymously after the meeting.
                    </p>

                    <p>
                        For example, at a company I worked for, our executives had an anonymous forum where anyone could submit concerns or questions
                        they would have. As an employee, I felt comfortable sharing my concerns or thoughts without penalty.
                        When you address the problem immediately, you have a much higher chance of killing protests before
                        they blossom. Gossip struggles to thrive in transparent environments. Address all concerns right
                        away and you will save yourself a lot of worries in the future.
                    </p>

                    <strong>4. Over-Communicate</strong>

                    <p>
                        On top of the two speakers and the announcement by President Nelson, the church also had emails sent out to all church members
                        right after the conference was over. The emails included more details and recaps of the announcement.
                        It was an overload of information. That way, if anyone missed the announcement or was still confused,
                        the email provided more clarification.
                    </p>

                    <p>
                        Imagine how useful it would be if your entire call center received emails detailing a company announcement right after the
                        all-hands meeting. The email would reiterate everything discussed and provide even more context.
                        Our company currently sends recap emails after all-hands meetings and it is a great way to get clarity
                        on points discussed during the meeting. Whatever the announcement may be, always over communicate.
                    </p>

                    <p>
                        Whether you manage a call center, lead a team or will be a leader in the future, following these tips will encourage faster
                        adoption from your reps and ensure a smoother transition.
                    </p>
                    <hr>

                    <strong>
                        Interested in getting feedback from prospects who have spoken with your agents? Then use SkillAmp! Our survey technology
                        collects feedback from potential customers, scores the sales agent they spoke with and provides specific
                        details on what went wrong and what could be improved.
                    </strong>
                    <br>
                    <br>

                    <strong>
                        With SkillAmp, you no longer have to guess what your prospects are thinking - you’ll know. Reach out to us for more information
                        on the product.
                    </strong>

                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2018</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../js/clean-blog.min.js"></script>

</body>

</html>